<div class="sidebar">
  <div class="sidebar__item">
    <a href="/" class="sidebar__item-value">
      <img class="sidebar__item-icon" src="./assets/icons/store.svg" />

      <span>Главная</span>
    </a>

    <div class="sidebar__item-subtabs">
      <div class="sidebar__item-subtab">Керамика</div>
      <div class="sidebar__item-subtab">Керамогранит</div>
      <div class="sidebar__item-subtab">Цементная</div>
    </div>
  </div>

  <div class="sidebar__item">
    <a href="/about" class="sidebar__item-value">
      <img class="sidebar__item-icon" src="./assets/icons/person.svg" />

      <span>Об авторе</span>
    </a>
  </div>

  <div class="sidebar__item">
    <a href="/firm" class="sidebar__item-value">
      <img class="sidebar__item-icon" src="./assets/icons/company.svg" />

      <span>О фирме</span>
    </a>
  </div>
</div>
