.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    // transform: translate(0, -10px);
  }

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
    }
  }

  &__price {
    position: absolute;
    top: 0;
    right: -1px;
    padding: 3px 7px;

    background: #ffa850;
    border-radius: 0px 5px;

    span {
      text-decoration: line-through;
      margin: 0 3px;
      font-size: 0.8rem;
      opacity: 0.6;
    }
  }

  &__placeholder {
    height: 200px;
    width: 100%;
    background: #d9d9d9;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
  }

  &__description {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
  }

  &__button {
    margin-top: auto;
  }
}
