.button {
  pointer-events: auto;
  cursor: pointer;
  color: black;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  position: relative;
  display: inline-block;
  transition: color 0.3s;

  &__bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffe29c;
    border-radius: 0.85rem;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: #000;
    }

    &::before {
      width: 110%;
      height: 0;
      padding-bottom: 110%;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
    }

    &::after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &:hover {
    color: #ffe29c;
    rt .button__bg {
      transform: scale3d(1.2, 1.2, 1);

      &::before {
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
      }

      &::after {
        opacity: 1;
        transition-duration: 0.01s;
        transition-delay: 0.3s;
      }
    }
  }

  span {
    display: block;
    position: relative;
    padding: 1.5rem 3rem;
  }
}
