@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap");
.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #043b5c;
  margin-bottom: 50px;
}
.header__logo {
  padding: 20px;
}

.footer {
  width: 100%;
  margin-top: 50px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #378ba4;
  flex: 0 0 auto;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__text {
  text-align: center;
  color: #e8ede7;
  font-size: 1em;
}
.footer__text span {
  font-size: 0.8em;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  color: black;
  background: none;
  padding: 0;
  border: 1px solid transparent;
  margin: 0;
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}
.button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffe29c;
  border-radius: 0.85rem;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.button__bg::before, .button__bg::after {
  content: "";
  position: absolute;
  background: #000;
}
.button__bg::before {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}
.button__bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.button:hover {
  color: #ffe29c;
}
.button:hover .button__bg {
  box-shadow: 0px 0px 10px #ffe29c;
}
.button:hover .button__bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
.button:hover .button__bg::after {
  opacity: 1;
  transition-delay: 0.3s;
}
.button span {
  display: block;
  position: relative;
  padding: 15px 10px;
  font-weight: bold;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: translate(0, -10px);
}
.card__image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.card__image img {
  width: 100%;
}
.card__price {
  position: absolute;
  top: 0;
  right: -1px;
  padding: 3px 7px;
  background: #ffa850;
  border-radius: 0px 5px;
}
.card__placeholder {
  height: 200px;
  width: 100%;
  background: #d9d9d9;
}
.card__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}
.card__description {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid rgba(3, 98, 128, 0.5);
  border-radius: 10px;
}
.sidebar__item:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.sidebar__item-icon {
  height: 32px;
  width: 32px;
}
.sidebar__item-value {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #036280;
}
.sidebar__item-subtabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar__item-subtab {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #036280;
  border-radius: 10px;
  border-bottom: 1px solid rgba(3, 98, 128, 0.3);
  transition: all 0.2s linear;
}
.sidebar__item-subtab:hover {
  background: rgba(3, 98, 128, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body,
#app {
  height: 100%;
}

a {
  text-decoration: none;
}

#app {
  background-color: #e8ede7;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  display: flex;
  padding: 30px;
  gap: 50px;
  flex: 1 0 auto;
}
.main__sidebar {
  max-width: 20%;
}
.main__content {
  width: 100%;
}

.products {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}/*# sourceMappingURL=style.css.map */