@use "../components/header/header";
@use "../components/footer/footer";
@use "../components/button/button";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body,
#app {
  height: 100%;
}

#app {
  background-color: #e8ede7;
}
