@use "../components/header/header";
@use "../components/footer/footer";
@use "../components/button/button";
@use "../components/card/card";
@use "../components/sidebar/sidebar";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik+Mono+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body,
#app {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

#app {
  background-color: #e8ede7;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  display: flex;
  padding: 30px;
  gap: 50px;
  flex: 1 0 auto;

  &__sidebar {
    min-width: 150px;
    max-width: 20%;
  }

  &__content {
    width: 100%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header {
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  &__banner {
    width: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.25);
  }

  &__title {
    font-size: 2rem;
    font-weight: 900;
  }

  &__description {
    font-size: 1.3rem;
  }
}

.firm {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header {
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  &__banner {
    width: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.25);
  }

  &__title {
    font-size: 2rem;
    font-weight: 900;
  }

  &__description {
    font-size: 1.3rem;
  }
}

.products {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 728px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.login {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	&__content {
		display: flex;
	flex-direction: column;
	gap: 10px;
	}
	&__button {
		border-radius: 10px;
		border: 1px solid black;
	}
}

.detail {
	display: flex;
	gap: 10px;

	&__image {
		display: flex;
		height: 300px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__title {
		font-weight: bold;
	}
}